body{
    background: aqua;
}

.menu_table {
    width : 900px;
    height: 1170px;
    border-style: solid;
    margin : auto;
}

.shop {
    float: right;
    text-decoration: none;
}

.judul{
    margin : auto;
    text-align: center;
    margin-bottom: 10px;
}

/*==============*/
/* Product Name */
/*==============*/
.name_table{
    border-style: solid;
    width: 220px;
    height: 20px;
    float : left;
    text-align: center;
    background-color: grey;
}

p{
    border-style: solid;
    width : 220px;
    height : 90px;
    text-align: center;
    margin: 0;
    padding-top: 70px;
    background-color: lightgray;
}


/*===============*/
/* Product Price */
/*===============*/
.price_table{
    border-style: solid;
    width: 220px;
    height: 20px;
    float : left;
    text-align: center;
    background-color: grey;
}

/*===================*/
/* Product Thumbnail */
/*===================*/
.thumbnail_table{
    border-style: solid;
    width: 220px;
    height: 20px;
    float : left;
    text-align: center;
    background-color: grey;
}

img {
    width : 80px;
    height : 100px;
    border-style: solid;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin: 0;
    background-color: lightgray;
    float : left;
}

a{
    border-color: red;
}

/*===================*/
/* Cart Thumbnail */
/*===================*/
.cart_table{
    border-style: solid;
    width: 220px;
    height: 20px;
    float : left;
    text-align: center;
    background-color: grey;
}

.cartb{
    border-style: solid;
    width : 220px;
    height : 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: lightgrey;
}
